<div class="container">
  <h2 class="text-center mb-4">Subir un Nuevo Artículo</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="articleForm" enctype="multipart/form-data">

    <!-- Título -->
    <div class="form-group mb-3">
      <input type="text" id="title" formControlName="title" class="form-control" placeholder="Título del artículo"
        required />
      <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched" class="error">
        <small>El título es requerido.</small>
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group mb-3">
      <textarea id="description" formControlName="description" class="form-control"
        placeholder="Descripción del artículo" rows="6" required></textarea>
      <div *ngIf="articleForm.get('description')?.invalid && articleForm.get('description')?.touched" class="error">
        <small>La descripción es requerida.</small>
      </div>
    </div>

    <!-- Tema -->
    <div class="form-group mb-3">
      <select id="theme" class="form-control" formControlName="theme" required>
        <option value="" disabled selected>Seleccione una temática</option>

        <!-- Primer nivel -->
        <ng-container *ngFor="let theme of themes">
          <option [disabled]="true" class="theme-dd-level1">
            {{ theme.name }}
          </option>

          <!-- Segundo nivel -->
          <ng-container *ngFor="let subtheme of theme.subthemes">
            <option [disabled]="true" class="theme-dd-level2">
              &nbsp;&nbsp;{{ subtheme.name }}
            </option>

            <!-- Tercer nivel -->
            <ng-container *ngFor="let subSubtheme of subtheme.subthemes">
              <option [value]="subSubtheme._id" class="theme-dd-level3">
                &nbsp;&nbsp;&nbsp;&nbsp;• {{ subSubtheme.name }}
              </option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
      <div *ngIf="articleForm.get('theme')?.invalid && articleForm.get('theme')?.touched" class="error">
        <small>La temática es requerida.</small>
      </div>
    </div>

    <!-- PDF -->
    <div class="form-group mb-3">
      <label for="pdf" class="custom-file-upload">
        Seleccionar archivo
      </label>
      <input type="file" id="pdf" (change)="onFileChange($event)" class="form-control" accept="application/pdf"
        required />
      <div *ngIf="pdfError" class="error">
        <small>Por favor, selecciona un archivo PDF válido.</small>
      </div>
    </div>

    <!-- Vista previa del archivo seleccionado -->
    <div *ngIf="pdfFileName" class="mb-3">
      <p>Archivo seleccionado:{{ pdfFileName }}</p>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="button" [disabled]="articleForm.invalid || !pdfFile">
      Subir Artículo
    </button>

  </form>
</div>