/**********************************/
/*       ESTILOS POP UPS          */
/**********************************/
.popup-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0.95;
}

.popup-notification .popup-success {
    background-color: #F2EED7;
    color: black;
    border-left: 10px solid #798645;
}

.popup-notification .popup-error {
    background-color: #F2EED7;
    color: black;
    border-left: 10px solid #d32f2f;
}

.popup-notification div {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.popup-large {
    width: 400px;
    text-align: center;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.confirm-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}