<!-- Popup de notificación -->
<app-pop-up *ngIf="popupMessage" [message]="popupMessage" [type]="popupType" (closed)="onPopUpClosed()">
</app-pop-up>

<div class="filter-container" [formGroup]="filterForm">
  <!-- Temática -->
  <div class="filter-item">
    <label for="theme">Temática</label>
    <select id="theme" class="theme-dropdown" formControlName="theme">
      <option value="" disabled selected>Seleccione una temática</option>

      <!-- Primer nivel -->
      <ng-container *ngFor="let theme of themes">
        <option [value]="theme._id" class="theme-dd-level1">
          {{ theme.name }}
        </option>

        <!-- Segundo nivel -->
        <ng-container *ngFor="let subtheme of theme.subthemes">
          <option [value]="subtheme._id" class="theme-dd-level2">
            &nbsp;&nbsp;{{ subtheme.name }}
          </option>

          <!-- Tercer nivel -->
          <ng-container *ngFor="let subSubtheme of subtheme.subthemes">
            <option [value]="subSubtheme._id" class="theme-dd-level3">
              &nbsp;&nbsp;&nbsp;&nbsp;• {{ subSubtheme.name }}
            </option>
          </ng-container>
        </ng-container>
      </ng-container>

    </select>
  </div>

  <!-- Ordenar por Veracidad -->
  <div class="filter-item">
    <label for="ordenar-veracidad">Ordenar por Veracidad</label>
    <select id="ordenar-veracidad" class="order-dropdown" formControlName="ordenarPorVeracidad">
      <option value="">Ninguno</option>
      <option value="asc">Veracidad ↑</option>
      <option value="desc">Veracidad ↓</option>
    </select>
  </div>
  
  <!-- Ordenar por Fecha -->
  <div class="filter-item">
    <label for="ordenar-fecha">Ordenar por Fecha</label>
    <select id="ordenar-fecha" class="order-dropdown" formControlName="ordenarPorFecha">
      <option value="">Ninguno</option>
      <option value="asc">Fecha ↑</option>
      <option value="desc">Fecha ↓</option>
    </select>
  </div>

  <!-- Botón de búsqueda -->
  <div class="filter-item filter-item-button">
    <button type="submit" class="filter-btn" (click)="onFilterChange()">
      Buscar
    </button>
  </div>
</div>


<div class="section-divider">
  <h2 class="section-subtitle">Explorador de Artículos</h2>
  <hr class="section-line">
</div>

<!-- Lista de artículos filtrados -->
<div class="articles-list">
  <app-article-list [articles]="articles" [currentUser]="currentUser"></app-article-list>
</div>