.navbar {
  background-color: #626F47;
  color: #F2EED7;
  padding: 0.8rem;
  max-height: 275px;
}

.navbar-brand {
  font-size: 2.5rem;
  color: #F2EED7;
}

.nav-link {
  color: #F2EED7;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
  color: #F2EED7;
}
