<div class="popup-notification" *ngIf="successMessage || errorMessage">
    <div [ngClass]="{'popup-success': successMessage, 'popup-error': errorMessage}">
        {{ successMessage || errorMessage }}
    </div>
</div>

<div class="home-container">
    <h1 class="home-title"></h1>

    <!-- Tarjetas de Temas -->
    <div class="section-divider">
        <h2 class="section-subtitle">Temas Populares</h2>
        <hr class="section-line">
    </div>
    <div class="row home-row">
        <div class="col-md-4" *ngFor="let tema of themes">
            <div class="card mb-4" (click)="navigateToExplore(tema)">
                <div class="card-body">
                    <h5 class="card-title">{{ tema.name }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="section-divider">
        <h2 class="section-subtitle">Artículos en Tendencia</h2>
        <hr class="section-line">
    </div>

    <!-- Componente ArticleList-->
    <app-article-list [articles]="articles" [currentUser]="currentUser"></app-article-list>
</div>