<!-- Popup de notificación -->
<app-pop-up *ngIf="popupMessage" [message]="popupMessage" [type]="popupType" (closed)="onPopUpClosed()">
</app-pop-up>

<div class="article-card" *ngFor="let article of articles">
    <div class="article-layout">
        <div class="article-info">
            <div class="veracity-circle" [ngStyle]="{'background-color': getVeracityColor(article?.veracity ?? 0)}">
                {{ article.veracity | number: '1.1-1' }}
            </div>
            <h5 class="article-title">{{ article.title }}</h5>
            <p class="article-description">{{ article.description }}</p>

            <div class="themes">
                <span class="theme theme-level1">{{ article?.themes?.nivel1 }}</span>
                <span class="theme theme-level2">{{ article?.themes?.nivel2 }}</span>
                <span class="theme theme-level3">{{ article?.themes?.nivel3 }}</span>
            </div>

            <div class="article-actions">
                <button class="like-btn" (click)="votarArticulo(article._id, 'upvote')"
                    [ngClass]="{'liked': article.userVote === 'upvote'}">
                    <span class="material-icons">thumb_up</span>
                </button>
                <span class="vote-counter">{{ article.upVotes }}</span>

                <button class="dislike-btn" (click)="votarArticulo(article._id, 'downvote')"
                    [ngClass]="{'disliked': article.userVote === 'downvote'}">
                    <span class="material-icons">thumb_down</span>
                </button>
                <span class="vote-counter">{{ article.downVotes }}</span>
                <button class="view-btn" [routerLink]="['/articles', article?._id]">Ver</button>

                <button *ngIf="isOwnProfile" (click)="confirmDelete(article._id)" class="remove-btn">
                    Eliminar
                </button>
            </div>

        </div>

        <div class="author-info">
            <img [src]="getFullImageUrl(article.authorInfo.imagenPerfil)" class="author-image">
            <p>
                <strong>
                    {{ article.authorInfo.nombre || 'Cuenta eliminada' }}
                    {{ article.authorInfo.apellidos || '' }}
                </strong>
                <span class="reputation-badge"
                    [ngStyle]="{'background-color': getReputationColor(article.authorInfo.reputacion)}">
                    {{ getReputationDescription(article.authorInfo.reputacion) }}
                </span>
            </p>
            <p><strong>Fecha de publicación:</strong> {{ article.createdAt | date }}</p>

            <!-- Condicional para mostrar "Ver perfil" o mensaje de cuenta eliminada -->
            <ng-container *ngIf="article.authorInfo; else deletedAuthor">
                <button class="profile-btn" [routerLink]="['/perfil', article.authorInfo.username]">
                    Ver perfil
                </button>
            </ng-container>

            <ng-template #deletedAuthor>
                <p class="deleted-author-message">La cuenta del autor ha sido eliminada.</p>
            </ng-template>
        </div>
    </div>
</div>