<!-- Popup de notificación -->
<app-pop-up *ngIf="popupMessage" [message]="popupMessage" [type]="popupType" (closed)="onPopUpClosed()">
</app-pop-up>

<div class="article-detail-container" *ngIf="article; else loading">
    <!-- Cabecera del artículo -->
    <div class="article-header">
        <span class="categorization-badge"
                [ngStyle]="{'background-color': getCategorizationColor(article.evaluated)}">
                {{ getCategorizationDescription(article.evaluated) }}
        </span>
        <div class="article-subheader">
            <div class="veracity-circle" [ngStyle]="{'background-color': getVeracityColor(article.veracity)}">
                {{ article.veracity | number: '1.1-1' }}
            </div>
            <div>
                <h1 class="article-title">{{ article.title }}</h1>
                <p class="article-description">{{ article.description }}</p>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <!-- Visor del PDF -->
        <div class="pdf-viewer" *ngIf="pdfSrc">
            <div class="iframe-container">
                <iframe #pdfIframe [src]="pdfSrc" width="100%" height="80vh" frameborder="0" allowfullscreen></iframe>
                <div class="fullscreen-button">
                    <button (click)="toggleFullScreen()">
                        <span class="material-icons">fullscreen</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Muestra un mensaje mientras carga el PDF -->
        <div *ngIf="!pdfSrc">
            <p>Cargando PDF...</p>
        </div>

        <!-- Columna lateral derecha -->
        <div class="author-details">
            <img [src]="getFullImageUrl(article.authorInfo.imagenPerfil)" class="author-image">
            <div class="author-info">
                <h3 class="author-name">{{ article.authorInfo.nombre }} {{ article.authorInfo.apellidos }}</h3>
                <span class="reputation-badge"
                    [ngStyle]="{'background-color': getReputationColor(article.authorInfo.reputacion)}">
                    {{ getReputationDescription(article.authorInfo.reputacion) }}
                </span>

                <div class="profile-acreditaciones-container" *ngIf="article.authorInfo.acreditaciones.length > 0">
                    <h3>Acreditaciones</h3>
                    <div class="acreditacion" *ngFor="let acreditacion of article.authorInfo.acreditaciones">
                        <p>{{ acreditacion.title }}</p>
                    </div>
                </div>

                <ng-container *ngIf="!article.deleted; else deletedAuthor">
                    <button class="profile-btn" [routerLink]="['/perfil', article.authorInfo.username]">
                        Ver perfil
                    </button>
                </ng-container>
    
                <ng-template #deletedAuthor>
                    <p class="deleted-author-message">La cuenta del autor ha sido eliminada.</p>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <div class="article-footer">
        <div class="article-actions">
            <button class="like-btn" (click)="votarArticulo(article._id, 'upvote')"
                [ngClass]="{'liked': article.userVote === 'upvote'}">
                <span class="material-icons">thumb_up</span>
            </button>
            <span class="vote-counter">{{ article.upVotes }}</span>

            <button class="dislike-btn" (click)="votarArticulo(article._id, 'downvote')"
                [ngClass]="{'disliked': article.userVote === 'downvote'}">
                <span class="material-icons">thumb_down</span>
            </button>
            <span class="vote-counter">{{ article.downVotes }}</span>
        </div>
        <div class="themes">
            <span class="theme theme-level1">{{ article.themes.nivel1 }}</span>
            <span class="theme theme-level2">{{ article.themes.nivel2 }}</span>
            <span class="theme theme-level3">{{ article.themes.nivel3 }}</span>
        </div>
        <p *ngIf="article?.createdAt" class="article-date">
            <strong>Fecha de publicación:</strong> {{ article.createdAt | date }}
        </p>
        <div class="article-source" *ngIf="article.source">
            <p>
                <strong>Fuente: </strong>
                <a [href]="article.source" target="_blank" rel="noopener noreferrer">
                    {{ getSourceDisplayName(article.source) }}
                    <span class="material-icons">open_in_new</span>
                </a>
            </p>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Cargando artículo...</p>
</ng-template>